<header class="page-header" role="banner">
	{% if site.data.banner.link.[page.lang] or site.data.banner.link %}
		<div id="banner">
			<div id="banner-content">
				<a id="banner-link" href="{{ site.data.banner.link.[page.lang] | default: site.data.banner.link | relative_url }}">
					<p>{{ site.data.banner.text.[page.lang] | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}<i class="fas fa-arrow-right"></i></p>
				</a>
			</div>
			<div style="clear:both"></div>
		</div>
	{% elsif site.data.banner.text.[page.lang] %}
		<div id="banner">
			<p id="banner-content">
				{{ site.data.banner.text.[page.lang] | markdownify | remove: "<p>" | remove: "</p>" }}
			</p>
			<div style="clear:both"></div>
		</div>
	{% endif %}
	<div id="top-area">
		{% if page.lang == "en" %}
			{% assign homeURL = "/" | relative_url %}
		{% else %}
			{% assign homeURL = page.lang | relative_url %}
		{% endif %}
		
		<div id="home">
			<a href="{{ homeURL }}"><i class="fas fa-home"></i>{{ site.data.translations.home.[page.lang] }}</a>
		</div>
		<ul id="languages">
			{% for collection in site.collections %}
				{%- assign name = collection.label -%}
				{%- assign languages = site.[name] | where: "lang-ref", page.lang-ref | sort: "lang" -%}
				{%- if languages.size > 1 -%}
					{%- for item in languages -%}
						{% if item.lang == page.lang %}
							<li><a href="{{ item.url | relative_url }}"><b>{{ site.data.translations.[item.lang] }}</b></a></li>
						{% else %}
							<li><a href="{{ item.url | relative_url }}">{{ site.data.translations.[item.lang] }}</a></li>
						{% endif %}
					{%- endfor -%}
				{%- endif -%}
			{% endfor %}
		</ul>
		<div style="clear: both;"></div> 
		<a href="{{ chapterURL }}">
			<div id="logo-container">
				<div id="overlay"></div>
				<img class="logo" src="{{ 'assets/images/CTM-logo.svg' | relative_url }}" onerror="this.src='assets/images/CTM-logo.png'; this.onerror=null;" draggable="false" alt="Circle with Chicago Tenants Movement, four stars from the Chicago flag, and silhouetted buildings.">
				<img class="logo" src="{{ 'assets/images/CTM-logo-es.svg' | relative_url }}" onerror="this.src='assets/images/CTM-logo-es.png'; this.onerror=null;" draggable="false" alt="Círculo con Movimiento de Inquilinxs de Chicago, cuatro estrellas de la bandera de Chicago y siluetas de edificios.">
			</div>
		</a>

		{% if page.subhead %}
			{% assign subhead = page.subhead %}
		{% elsif page.description %}
			{% assign subhead = page.description %}
		{% endif %}

		{% if subhead %}
			<p id="subhead">{{ subhead | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</p>
			<hr>
		{% endif %}
	</div>
</header>
