<head>

	<!-- Started in August 2020, on the eve of an eviction crisis. Housing is a human right. -->
	<!-- Contribute at https://github.com/ChicagoTenants/ctm-website -->

	{% if site.google_analytics %}
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{{ site.google_analytics }}');
		</script>
	{% endif %}
	
	<meta charset="UTF-8">

	{% include seo.html %}
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- icons for IE 9 and below -->
	<!--[if IE]><link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}"><![endif]-->
	<!-- icons for touch - iOS and Android 2.1+  --> 
	<link rel="apple-touch-icon" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">
	<!-- icons for Firefox, Chrome, Safari, IE 11+ and Opera -->
	<link rel="icon" href="{{ 'assets/images/favicon.png' | relative_url }}">

	<!-- Theme -->
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<!-- FontAwesome styles -->
	<link rel="stylesheet" href="{{ '/assets/css/FontAwesome.css' | relative_url }}">

	<!-- preload FontAwesome -->
	<link rel="preload" href="{{ '/assets/fonts/FontAwesome/fa-brands-400.woff' | relative_url }}" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="{{ '/assets/fonts/FontAwesome/fa-regular-400.woff' | relative_url }}" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="{{ '/assets/fonts/FontAwesome/fa-solid-900.woff' | relative_url }}" as="font" type="font/woff" crossorigin>

	<!-- preload text fonts -->
	<link rel="preload" href="{{ '/assets/fonts/OpenSans/OpenSans-Regular.woff' | relative_url }}" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="{{ '/assets/fonts/OpenSans/OpenSans-RegularItalic.woff' | relative_url }}" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="{{ '/assets/fonts/OpenSans/OpenSans-Bold.woff' | relative_url }}" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="{{ '/assets/fonts/OpenSans/OpenSans-BoldItalic.woff' | relative_url }}" as="font" type="font/woff" crossorigin>
</head>
