<header class="page-header" role="banner">
	{% if page.banner-link %}
		<div id="banner">
			<div id="banner-content">
				<a id="banner-link" href="{{ site.banner.link | relative_url }}">
					<p>{{ page.banner-text | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}<i class="fas fa-arrow-right"></i></p>
				</a>
			</div>
			<div style="clear:both"></div>
		</div>
	{% elsif page.banner-text %}
		<div id="banner">
			<p id="banner-content">
				{{ page.banner-text | markdownify | remove: "<p>" | remove: "</p>" }}
			</p>
			<div style="clear:both"></div>
		</div>
	{% endif %}
	<div id="top-area">
		<ul id="languages">
			<li><a href="{{ '/' | absolute_url }}">English</a></li>
			{% for item in site.translations %}
				<li>/ <a href="{{ item.url | absolute_url }}">{{ item.language }}</a></li>
			{% endfor %}
		</ul>
		<a href="{{ '/' | absolute_url }}"><img id="logo" src="{{ 'assets/images/CTM-logo.svg' | relative_url }}" onerror="this.src='assets/images/CTM-logo.png'; this.onerror=null;" draggable="false" alt="Circle with Chicago Tenants Movement, four stars from the Chicago flag, and silhouetted buildings."></a>
	</div>
</header>
