<header class="page-header" role="banner">
	{% if page.banner-link %}
		<div id="banner">
			<div id="banner-content">
				<a id="banner-link" href="{{ site.banner.link | relative_url }}">
					<p>{{ page.banner-text | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}<i class="fas fa-arrow-right"></i></p>
				</a>
			</div>
			<div style="clear:both"></div>
		</div>
	{% elsif page.banner-text %}
		<div id="banner">
			<p id="banner-content">
				{{ page.banner-text | markdownify | remove: "<p>" | remove: "</p>" }}
			</p>
			<div style="clear:both"></div>
		</div>
	{% endif %}
</header>
