{%- capture siteName -%}
	{{ page.translated-site-name | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
{% endcapture %}

{%- capture title -%}
	{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }} | {{ siteName }}
{% endcapture %}

<!-- Set titles -->
<title>{{ title | strip_newlines }}</title>
<meta property="og:title" content="{{ title | strip_newlines }}" />

<!-- Locale -->
<meta property="og:locale" content="{{ page.language-code }}" />

{%- capture description -%}
	{{ page.translated-site-description | default: site.description | markdownify | remove: "<p>" | remove: "</p>" }}
{% endcapture %}

<!-- Set descriptions -->
<meta name="description" content="{{ description | strip_newlines }}" />
<meta property="og:description" content="{{ description | strip_newlines }}" />

<!-- URLs -->
<link rel="canonical" href="{{ page.url | absolute_url }}" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />

<meta property="og:site_name" content="{{ siteName | strip_newlines }}" />
<meta property="og:image" content="{{ page.image | absolute_url }}" />

<meta name="twitter:card" content="summary">
